.btn {
  box-sizing: border-box;
  width: 241px;
  height: 44px;
  position: relative;
  z-index: 9999;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(217, 217, 217, 0.19) 0%,
    rgba(217, 217, 217, 0) 100%
  );
  border-radius: 41px;
  border: 1px solid;
  border: 1px solid;
  text-transform: capitalize;
  border-top: 1px solid rgba(255, 255, 255, 0.72);
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.38);
  &:hover {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes flash {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }

  @keyframes flash {
    0%,
    50%,
    100% {
      opacity: 1;
    }

    25%,
    75% {
      opacity: 0;
    }
  }
}
